{navbar}
<section class="container-fluid">
	<div class="row-fluid">			
		<div id="statemiles" class="col-sm-6">		
			<div class="contact">
				<form method="POST" action="/contact">	
					<fieldset class="form-group">
						<label for="name">Your name:</label>
						<input class="form-control" type="text" id="name" name="name" placeholder="Your name"></textarea>													
					</fieldset>

					<fieldset class="form-group">
						<label for="name">Your email:</label>
						<input class="form-control" type="email" id="email" name="email" placeholder="Your email"></textarea>													
					</fieldset>

					<fieldset class="form-group">
						<label for="comment">Your message:</label>
						<textarea class="form-control" id="comment" name="comment" rows="7"  placeholder="Type your message here"></textarea>					
					</fieldset>

					<div class="row text-center">					
						<button type="submit" class="btn btn-primary" id="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-sm-6" id = "statemiles"> </div>
	</div>
</section>


{copyright}

