body {
	padding-top: 92px;
}

nav {
	padding: 10px;
}

#phone {
	
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;	
}

#toplinks {
	float:right;	
}

#xlogo {
	max-height:45px;
	width:75%;	 
}

section {
	box-shadow: 0px 8px 6px -6px black;
}

.lefttext {
	font-family: Arial; 
	font-size: 16px;
   	padding:20px; 
	min-height: 450px; 
	margin-bottom: 10px;
	background-color: #F4F5F6; 
}

#applicant {
	background-color: #F4F5F6; 
	margin-bottom: 10px;
	min-height: 450px;
}


.side-bg {
	position:absolute; top:0px; width:100%;
}

.side-bg-inner {
	padding:20px; width:100%; font-weight:bold; font-size:38px; color:#FFFFFF; text-shadow: 1px 1px #000000; text-align:center; background:rgba(0,0,0,0.5);
}

#topline {
	font-family: Arial;
	font-size: 18px;	
	background:rgba(0,0,0,0.6); 
	color:#FFFFFF; 
	border-left:10px solid #808B96;
	padding:10px; 
}

footer {
	margin-top: 10px;
}



#social {
	display: flex;
    justify-content: flex-end;
}

@media (max-width: 1000px) {
	.navbar-header {
	 	float: none;
     }
	 .navbar-toggle {
		 display: block;
	 }
	 .navbar-collapse {
	     border-top: 1px solid transparent;
	     box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	 }
	 .navbar-collapse.collapse {
	     display: none!important;
	 }
	 .navbar-nav {
	     float: none!important;
	     margin: 7.5px -15px;
	 }
	 .navbar-nav>li {
	     float: none;
	 }
	 .navbar-nav>li>a {
	     padding-top: 10px;
	     padding-bottom: 10px;
	 }
	 .navbar-text {
	     float: none;
	     margin: 15px 0;
	 }
	 /* since 3.1.0 */
	 .navbar-collapse.collapse.in { 
	     display: block!important;
	 }
	 .collapsing {
	     overflow: hidden!important;
	}
}
