<!DOCTYPE html>
<html lang="en">

<head>
	<title>Free IFTA Preparation</title>

	<meta name="description" content="Free IFTA Preparation" />	
	<meta name="keywords" content="IFTA, fuel tax, free, preparation, filing, tax, fuel" />
	<meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name = "resource-type" content = "document" />
	<meta name = "classification" content = "Business" />
	<meta name = "rating" content = "Safe For Kids" />
	<meta name = "author" content = "IFTA Help" />
	<meta name = "robots" content = "index, follow" />
	<meta name = "revisit-after" content = "7 days" />
	<meta name = "googlebot" content = "all" />
	<meta name = "msnbot" content = "all" />
	
	<!-- Google+ -->
	<meta itemprop="name" content="IFTA Help" />
	<meta itemprop="description" content = "Free IFTA Preparation" />

	<!-- Facebook -->
	<meta name = "og:title" content = "IFTA Help" />
	<meta name = "og:site_name" content = "IFTA Help" />
	<meta name = "og:url" content="http://iftahelp.com" />
	<meta name = "og:description" content="Free IFTA Preparation" />
	
	
	<!-- twitter -->
	<meta name = "Twitter:card" content="summary" />
	<meta name = "Twitter:url" content="http://iftahelp.com" />
	<meta name = "Twitter:title" content="IFTA Help" />
	<meta name = "Twitter:description" content="Free IFTA Preparation" />
	
	<meta http-equiv="Content-Language" content="en" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	
	<link rel="icon" href="/pic/ifta.ico" type="image/x-icon" />	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/jssor.css" type="text/css" rel="stylesheet">
	<link href="/css/style.css" type="text/css" rel="stylesheet">


	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jscode.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt3T9OxkVUK28OrR_HEb3I1BtJJo5oMVk&libraries=places&language=en"></script>

</head>

<body style="position:relative;">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid" style="position:relative;">
			
			<div class="navbar-header">
				<button class="navbar-toggle"  type="button" data-toggle="collapse" data-target="#bstop">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
	
			</div>
			
		
			<div class="collapse navbar-collapse" id="bstop">
									
				<ul class="nav navbar-nav navbar-right">
					<li title="IFTA Filing"><a href="ifta">IFTA</a></li>	
					<li title="Sign In"><a href="login">Sign In</a></li>
					<li title="Contact Us"><a href="contact">Contact Us</a></li>
				</ul>
			</div>
		
	</div>
	</nav>
